<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title class="productName"></title>
    <link rel="shortcut icon" href="../../../img/reception/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/MIReception/product_Description.css">
    <link rel="stylesheet" href="../../../css/MIReception/universal.css">
    <style>
        .user-menu {
            position: absolute;
            display: none;
            margin-left: 1030px;
            z-index: 3;
            width: 120px;
            padding: 7px 0;
            list-style-type: none;
            background: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
            text-align: center;
            text-decoration: none;
            font-size: 14px;
        }

        .user-menu a {
            text-decoration: none;
            color: black;
        }

        .user-menu li {
            padding: 6px 0;
        }

        .div_btn_Color,.div_btn_Color2,.div_btn_Color3 {
            width: 300px;
            height: 42px;
            position: absolute;
            border: 1px solid #ccc;
            text-align: center;
            cursor: pointer;
        }

        .div_btn_Color{
            margin-top: -44px;
            margin-left: 340px;
        }

        .div_btn_Color2 {
            margin-left: 4px;
            margin-top: 12px;
        }

        .div_btn_Color3 {
            margin-top: 12px;
            margin-left: 340px;
        }

        .div_btn_biglarge_a2{
            color: black;
            font-size: 16px;
            text-decoration: none;
            line-height: 44px;
        }

    </style>
</head>
<body>
<div class="div0">
    <!--头部导航栏-->
    <div id="menu_nav">
        <span class="menu_list" style="margin-left: 100px;" id="menu_list"><span class=menu_lr><a
                href="#">小米商城</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">MIUI</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">lOT</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">云服务</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">金融</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">有品</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">小爱开放平台</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">政企服务</a></span></span>
        <span class="menu_list"><span class=menu_lr><a href="#">Select Region</a></span></span>
        <span><span id="menu_right" style="margin-left: 460px"><a href="/reception/login"
                                                                  class="userSession">登录 </a></span></span>
        <span><span class="menu_right"><a href="register.html">注册  </a></span></span>
        <span><span class="menu_right" style="border-right: 0px solid"><a href="#">消息通知</a></span></span>
        <span id="cart">
					<span id="cart_span">
						<a href="/reception/productCart">
							<img src="../../../img/reception/cart.png" id="cart_O"
                                 style="width: 20px; height: 22px;margin-top: 8px;margin-left: 15px;"/>
							<span style="color: white;margin-top: -22px;margin-left:40px;display: block;"
                                  id="dataMsg1"></span>
				</a>
				</span>
				</span>
    </div>

    <ul class="user-menu">
        <li>
            <a href="javascript:;" rel="nofollow" target="_blank">个人中心</a>
        </li>
        <li>
            <a href="javascript:;" rel="nofollow" target="_blank">评价晒单</a>
        </li>
        <li>
            <a href="javascript:;" rel="nofollow" target="_blank">我的喜欢</a>
        </li>
        <li>
            <a href="javascript:;" rel="nofollow" target="_blank">小米账户</a>
        </li>
        <li id="backIndex">
            <a href="javascript:;" rel="nofollow">退出登录 </a>
        </li>
    </ul>

    <div class="div_site_head">
        <div class="div_container">
            <div class="div_container_logo">
                <a href="/reception/MIIndex" class="div_container_a1"></a>
            </div>
            <div class="div_nav_list">
                <div class="div_nav_category">
                    <a href="#" class="div_nav_a1">
								<span class="div_nav_span1">
									全部商品分类
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									小米手机
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									红米
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									电视
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									笔记本
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									空调
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									新品
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									路由器
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									智能硬件
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									服务
								</span>
                    </a>
                </div>
                <div class="div_nav_links">
                    <a href="#" class="div_nav_a2">
								<span class="div_nav_span2">
									社区
								</span>
                    </a>
                </div>
            </div>
            <div class="div_container_input">
                <input type="text" class="div_container_text"/>
                <div class="s_img"><img
                        src="../../../img/reception/s.png" id="s_img"/></div>
            </div>
        </div>
    </div>
    <div class="div_headNav">
        <div class="div_headNav_navSwitch">
            <h2 id="pName2"></h2>
            <div class="div_headNav_right">
                <a href="#" class="div_headNav_a1">概述</a>
                <span class="div_headNav_span1">|</span>
                <a href="#" class="div_headNav_a1">参数</a>
                <span class="div_headNav_span1">|</span>
                <a href="#" class="div_headNav_a1">F码通道</a>
                <span class="div_headNav_span1">|</span>
                <a href="#" class="div_headNav_a1">用户评价</a>
            </div>
        </div>
    </div>
    <div class="div_login_notic">
        <div class="div_login_container">
            <a href="/reception/login" class="div_login_notic_a1">立即登录</a>
        </div>
    </div>
    <div class="div_box_clearfix">
        <div class="div_box_clearfix_center">
            <div class="div_pro_view">
                <img src="" class="div_pro_view_img1" id="pPhoto"/>
            </div>
            <div class="div_pro_info">
                <h1 class="div_pro_info_h1" id="pName"></h1>
                <div class="div_pro_info_desc">
                    <p class="div_pro_info_p1" id="pDesc"></p>
                    <span class="div_pro_info_span1" id="pPrice">

							</span>
                    <div class="div_user_default_address">
                        <div class="div_default_address">
									<span class="div_default_span1">
										广东
									</span>
                            <span class="div_default_span1">
										珠海市
									</span>
                            <span class="div_default_span1">
										斗门区
									</span>
                            <span class="div_default_span1">
										白蕉镇29号
									</span>
                            <span class="div_default_span2">
										修改
									</span>
                        </div>
                        <div class="div_product_action">
									<span class="div_default_span2">
										有现货
									</span>
                        </div>
                    </div>
                    <div class="div_list_wasp">
                        <div class="div_pro_choose">
                            <div class="div_step_title">
                                选择颜色
                            </div>
                            <div class="div_btn_biglarge">
                                <a href="javascript:;" class="div_btn_biglarge_a" id="pColor">
                                    白
                                </a>
                            </div>
                            <div class="div_btn_Color">
                                <a href="javascript:;" class="div_btn_biglarge_a2">
                                    冰川蓝
                                </a>
                            </div>
                            <div class="div_btn_Color2">
                                <a href="javascript:;" class="div_btn_biglarge_a2">
                                    曜石黑
                                </a>
                            </div>
                            <div class="div_btn_Color3">
                                <a href="javascript:;" class="div_btn_biglarge_a2">
                                    流沙金
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="div_pro_list">
                        <div class="div_pro_list_li">
                            红米6 4GB+64GB 铂银灰
                            <span class="div_pro_list_span1" id="pPrice2">
									</span>
                        </div>
                        <div class="div_pro_list_totlePrice" id="pPrice3">
                        </div>
                    </div>
                    <div class="div_btn_wrap_clearfix" style=" cursor: pointer;">
                        <div class="div_btn_wrap_a">加入购物车</div>
                        <a href="#" class="div_btn_wrap_a2">
                            <i></i>
                            喜欢
                        </a>
                    </div>
                    <div class="div_pro_policy">
								<span class="div_pro_policy_span1">
									<i></i>
									七天无理由退货
								</span>
                        <span class="div_pro_policy_span1">
									<i></i>
									15天质量问题换货
								</span>
                        <span class="div_pro_policy_span2">
									<i></i>
									365天保修
								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end-->
    <div id="endCart" style="margin-left: 100px;">
        <div id="server">
            <a href="#">
                <div class="ser1"><span class="iconfont" style="font-size: 28px;margin-right: 2px;">&#xe712;</span>预约维修服务
                </div>
            </a>
            <a href="#">
                <div class="ser2"><span class="iconfont" style="font-size: 28px;margin-right: 2px;">&#xe70d;</span>7天无理由退货
                </div>
            </a>
            <a href="#">
                <div class="ser2"><span class="iconfont" style="font-size: 28px;margin-right: 2px;">&#xe706;</span>15天免费退货
                </div>
            </a>
            <a href="#">
                <div class="ser2"><span class="iconfont" style="font-size: 28px;margin-right: 2px;">&#xe6f1;</span>满150包邮
                </div>
            </a>
            <a href="#">
                <div class="ser2" style="border-right: 0px solid;"><span class="iconfont"
                                                                         style="font-size: 28px;margin-right: 2px;">&#xe709;</span>520余家售后网点
                </div>
            </a>
        </div>
        <div id="help">
            <div id="helpleft">
                <div id="copy">
                    <p id="copy1" style="margin-top: 1px">帮助中心</p>
                    <a href="#">
                        <p class="copy2" style="margin-top: -12px">账户管理</p>
                    </a>
                    <a href="#">
                        <p class="copy3">购物指南</p>
                    </a>
                    <a href="#">
                        <p class="copy3">订单操作</p>
                    </a>
                </div>
                <span class="copy4">
							<p class="copy5">服务支持</p>
							<a href="#"><p class="copy2">售后政策</p></a>
							<a href="#"><p class="copy3">自助服务</p></a>
							<a href="#"><p class="copy3">相关下载</p></a>
						</span>
                <span class="copy4">
							<p class="copy5">线下门店</p>
							<a href="#"><p class="copy2">小米之家</p></a>
							<a href="#"><p class="copy3">服务网点</p></a>
							<a href="#"><p class="copy3">授权体验店</p></a>
						</span>
                <span class="copy4">
							<p class="copy5">关于小米</p>
							<a href="#"><p class="copy2">了解小米</p></a>
							<a href="#"><p class="copy3">加入小米</p></a>
							<a href="#"><p class="copy3">投资者关系</p></a>
						</span>
                <span class="copy4">
							<p class="copy5">关注我们</p>
							<a href="#"><p class="copy2">新浪微博</p></a>
							<a href="#"><p class="copy3">官方微信</p></a>
							<a href="#"><p class="copy3">联系我们</p></a>
						</span>
                <span class="copy6">
							<p class="copy5">特色服务</p>
							<a href="#"><p class="copy2">F 码通道</p></a>
							<a href="#"><p class="copy3">礼物码</p></a>
							<a href="#"><p class="copy3">防伪查询</p></a>
						</span>
            </div>
            <div id="helpright">
                <div id="phone_copy">
                    <div style="font-size: 22px;color: #FF6700;margin-left: 58px;">
                        400-100-5678
                    </div>
                    <div style="font-size: 12px;color: #888888;text-align: center;">
                        周一至周日 8:00-18:00<br>（仅收市话费）
                    </div>
                    <a href="#" id="kf_a">
                        <div id="kf">联系客服</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="endcopy" style="margin-left: 100px;">
        <div id="lg">
            <a href="/reception/MIIndex"><img src="../../../img/reception/logo.png"/></a>
        </div>
        <div id="co">
					<span class="co_t"><a href="">小米商城 <span class="shu"> |</span></a>
					</span><span class="co_t"><a href="">MIUI</a><span class="shu"> |</span></span>
            <span class="co_t"><a href="">米家</a><span class="shu"> |</span></span><span class="co_t"><a
                href="">米聊</a><span class="shu"> |</span></span>
            <span class="co_t"><a href="">多看</a><span class="shu"> |</span></span><span class="co_t"><a
                href="">游戏</a><span class="shu"> |</span></span>
            <span class="co_t"><a href="">路由器</a><span class="shu"> |</span></span><span class="co_t"><a href="">米粉卡</a><span
                class="shu"> |</span></span>
            <span class="co_t"><a href="">政企服务</a><span class="shu"> |</span></span><span class="co_t"><a
                href="">小米天猫店</a><span class="shu"> |</span></span>
            <span class="co_t"><a href="">隐私政策</a><span class="shu"> |</span></span><span class="co_t"><a
                href="">问题反馈</a><span class="shu"> |</span></span>
            <span class="co_t"><a href="">廉政举报</a><span class="shu"> |</span></span><span class="co_t"><a href="">Select Region</a><span
                class="shu"> |</span></span>
            <span class="co_s"><br>©mi.com 京ICP证110507号 <a href="" class="shu2"
                                                           style="color: #CCCCCC;">京ICP备10046444号 </a><a href=""
                                                                                                         class="shu2"
                                                                                                         style="color: #CCCCCC;">京公网安备11010802020134号</a> <a
                    href="" class="shu2" style="color: #CCCCCC;">京网文[2017]1530-131号</a><br></span>
            <span class="co_s">违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</span>
        </div>
        <span id="im_co">
						<img src="../../../img/reception/co1.png" style="width: 100px;height: 28px;"/>
						<img src="../../../img/reception/co2.png" style="width: 90px;height: 28px;"/>
						<img src="../../../img/reception/co3.png" style="width: 90px;height: 28px;"/>
						<img src="../../../img/reception/co4.png" style="width: 90px;height: 28px;"/>
						<img src="../../../img/reception/co5.png" style="width: 90px;height: 28px;"/>
				</span>
        <span id="mih">探索黑科技，小米为发烧而生！</span>
    </div>
</div>
</div>

<script src="../../../js/MIReception/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    function get(par) {
        //获取当前URL
        var local_url = document.location.href;

        //截取get字符串
        var getstr = local_url.substr(local_url.indexOf('?') + 1)

        //解析成get数组
        var get = getstr.split('&')

        //查找要找到参数（par）
        for (var i in get) {
            if (get[i].indexOf(par + '=') >= 0) {
                return get[i].replace(par + '=', '');
            }
        }

        //如果找不到返回false
        return false;
    }

    //获取GET id值
    /*alert(get('productId'))*/
    /*渲染数据*/
    ;(function () {
        var pId
        var pName;
        var pPrice;
        var productPhotos;
        $.ajax({
            url: '/product/getProductId',
            type: 'GET',
            data: {productId: get('productId')},
            success: function (data) {
                $(".productName").text(data.data.productName + " 立即购买-小米商城");
                $("#pName2").text(data.data.productName);
                $("#pName").text(data.data.productName);
                $(".div_pro_list_li").text(data.data.productName +" 4GB+64GB " +data.data.productColor);
                $("#pDesc").text(data.data.productDesc);
                $("#pColor").text(data.data.productColor);
                $("#pPrice").text(data.data.oldPrice + "元");
                $("#pPrice2").text(data.data.oldPrice);
                $("#pPrice3").text("总计：" + data.data.oldPrice + "元");
                $("#pPhoto").attr('src', "../../files/" + data.data.productPhoto);

                pId = data.data.productId;
                pName = data.data.productName;
                pPrice = data.data.oldPrice;
                productPhotos = data.data.productPhoto;


                $(".div_btn_biglarge").click(function () {
                    $(".div_pro_list_li").text(data.data.productName +" 4GB+64GB " +data.data.productColor);
                })

                $(".div_btn_Color").click(function () {
                    $(".div_pro_list_li").text(data.data.productName +" 4GB+64GB " +"冰川蓝");
                })

                $(".div_btn_Color2").click(function () {
                    $(".div_pro_list_li").text(data.data.productName +" 4GB+64GB " +"曜石黑");
                })

                $(".div_btn_Color3").click(function () {
                    $(".div_pro_list_li").text(data.data.productName +" 4GB+64GB " +"流沙金");
                })

                /*把商品添加到购物车里*/
                $(".div_btn_wrap_a").click(function () {
                    $.ajax({
                        url: "/lineItem/addToCart",
                        type: "POST",
                        data: {
                            productId: pId,
                            userId: 1,
                            orderId: 1,
                            newPrice: pPrice,
                            productNumber: 1,
                            productCount: pPrice,
                            shopId: 1,
                            quantity: 1,
                            unitPrice: pPrice,
                            productName: pName,
                            productPhoto: productPhotos
                        },
                        success: function (data) {
                            console.log("商品成功加入购物车" + data.data);
                            /*传值到addToCart*/
                            location.href = "/reception/addToCart?productId=" + get('productId');
                        }, error: function (data) {
                            console.log("错误" + data.data);
                            location.href = "/reception/addToCart?productId=" + get('productId');
                        }
                    })
                    /*.done(function (data) {
                                            alert(data.data);
                                            console.log("商品已加入购物车中！"+data.data);
                                            /!*location.href = "/reception/addToCart?productId=" + get('productId');*!/
                                        });*/
                    /* location.href = "/reception/addToCart?productId=" + get('productId');*/
                });
            }
        })
    }());

    /*取到当前用户登录信息*/
    function getUser() {
        $.ajax({
            url: '/users/getUserSession',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            if (data.code == 1) {
                if (data.msg != null) {
                    $(".userSession").html(data.msg + "<span style='font-size: 14px;'> &or; </span>");
                    //登录成功后a标签的href改变
                    $(".userSession").prop("href", "javascript:;");
                    $(".div_login_notic").css("display", "none");

                    //退出登录，返回主页
                    $("#backIndex").click(function () {
                        $.ajax({
                            url: "/users/backIndex",
                            type: "GET",
                            success: function () {
                                location.href = "/reception/MIIndex";
                                return true;
                            }
                        })
                    });
                } else {
                    $(".userSession").html("登录 ");
                    $(".div_login_notic").css("display", "block");
                }
            }
        })
    };
    getUser();

    //查询购物车商品总数
    (function () {
        $.ajax({
            url: "/lineItem/getLineItem",
            type: "GET",
            dataType: "json"
        }).done(function (data) {
            if (data.data.length > 0) {
                $("#dataMsg1").text("购物车(" + data.data.length + ")");
                $("#cart").css("background", "#ff5800");
            } else {
                $("#dataMsg1").text("购物车（0）");
            }
        });
    }());

    //登录的悬停
    ;(function () {
        $(".user-menu").on("mouseover mouseout", function (event) {
            if (event.type == "mouseover") {
                //鼠标悬停
                $(".user-menu").css('display', 'block');
            } else if (event.type == "mouseout") {
                //鼠标离开
                $(".user-menu").css('display', 'none');
            }
        })
    }())

    //登录的悬停
    ;(function () {
        $(".userSession").on("mouseover", function (event) {
            if (event.type == "mouseover") {
                //鼠标悬停
                $(".user-menu").css('display', 'block');
            }
        })
    }())
</script>
</body>
</html>
