<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小米帐号 - 注册</title>
		<link rel="shortcut icon" href="'../../../img/reception/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../../css/receptionLogin/registerVerify.css"/>
    </head>
	<body>
		<div id="controller">
			<div id="main">
                <a href="/reception/MIIndex"><img src="'../../../img/reception/milogo.png" class="m1"/></a>
				<div id="mihao">注册小米帐号</div>
				<form id="phone">
					<span class="p1">手机号</span>
					<input type="text" name="userPhone" id="userPhone" placeholder="  手机号" style="margin-bottom: 10px"/>
                    <br>
					<span class="p1">密码</span>					
					<input type="password" name="passWord" id="passWord" placeholder="  密码" style="margin-bottom: 12px;" />
					<span class="p1">验证码</span><br>		
					<input type="text" name="txt3" id="txt3" placeholder="  验证码" /><input type="button" id="codeMsg" value="发送验证码" />
					<input type="button" id="registerUser" value="立即注册" />
				</form>
				<div id="end_copy"><img src="../../../img/reception/icon2.png" class="i-1" style="margin-top: 2px;position: absolute;margin-left: -20px;"/>注册帐号即表示您同意并愿意遵守小米 <a href="#" class="xs">用户协议</a>和 <a href="#" class="xs">隐私政策</a></div>
			</div>
			<div id="end">
				<div id="copy">
					<a href="#" style="color: black;">简体</a><span class="y">|</span>	
					<a href="#">繁体</a><span class="y">|</span>
					<a href="#">English</a><span class="y">|</span>
					<a href="">常见问题</a><span class="y">|</span>
					<a href="">隐私政策</a>
				</div>
				<div id="copy2">					
					小米公司版权所有-京ICP备10046444-<img src="../../../img/reception/ghs.png"/><a href="#" class="jin">京公网安备11010802020134号</a>-京ICP证110507号
				</div>
			</div>
		</div>
        <script src="../../../js/jquery-3.3.1.js"></script>
        <script>

            //发送验证码
            $("body").on("click","#codeMsg",function () {
                //验证码计时60秒
                var wait=60;
                function time(o) {
                    if (wait == 0) {
                        o.removeAttribute("disabled");
                        o.value="发送验证码";
                        wait = 60;
                    } else {
                        o.setAttribute("disabled", true);
                        o.value="重新发送(" + wait + ")";
                        wait--;
                        setTimeout(function() {
                            time(o);
                        }, 1000)
                    }
                }

                time(this);
                //发送请求获得验证码
                $.ajax({
                    url:"/users/getCode",
                    type:"GET",
                    data:{phone:$("#userPhone").val()}
                }).done(function (data) {
                  /* alert(data.msg);*/
                });
            });

            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var nowDate = year + "-" + month + "-" + day;

            //注册
            $("body").on("click","#registerUser",function () {
               $.ajax({
                   url:"/users/registerVerify",
                   type:"POST",
                   data:{userPhone:$("#userPhone").val(),passWord:$("#passWord").val(),phoneCode:$("#txt3").val(),userLevel:1,userTime:nowDate,userPhoto:"user4.jpg"}
               }).done(function (data) {
                   if(data.code==1){
                       location.href = "/reception/login";
                       alert(data.msg);
                   }else{
                       alert(data.msg);
                       $("#txt3").val("");
                   }
               });
            });
        </script>
	</body>
</html>
