body,
html,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #F9F9F9;
}

#controller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1349px;
    height: 548px;
}

#main {
    margin: 0 auto;
    background: #fff;
    width: 854px;
    height: 548px;
    font-size: 14px;
}

.m1 {
    position: absolute;
    margin: auto;
    left: 47.6%;
}

#mihao {
    position: absolute;
    font-size: 30px;
    font-weight: normal;
    width: 854px;
    height: 40px;
    margin-top: 60px;
    text-align: center;
}

#phone {
    width: 293px;
    height: 280px;
    position: absolute;
    margin-top: 118px;
    margin-left: 260px;
}

#userPhone {
    width: 328px;
    height: 38px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    line-height: 40px;
    color: #555;
    margin-top: 10px;
    float: left;
}

#select_city {
    width: 39px;
    height: 40px;
    display: inline-block;
    float: left;
    border: 1px solid #e8e8e8;
    border-left: none;
    margin-top: 10px;
}

#su {
    width: 330px;
    height: 26px;
    display: inline-block;
    margin-top: 8px;
}

#phone_ma_left {
    height: 40px;
    width: 70px;
    border: 1px solid #e8e8e8;
    float: left;
    line-height: 40px;
}

#san {
    width: 0;
    height: 0;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #9d9d9d transparent transparent;
    position: absolute;
    margin-top: -22px;
    margin-left: 44px;
}

#phone_ma_right {
    height: 40px;
    width: 256px;
    border: 1px solid #e8e8e8;
    border-left: none;
    float: left;
}

#passWord {
    width: 328px;
    height: 38px;
    margin-top: 10px;
    color: #666;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

#txt3 {
    width: 224px;
    height: 38px;
    margin-top: 10px;
    color: #666;
    border: 1px solid #e8e8e8;

}

#codeMsg {
    width: 100px;
    height: 42px;
    background: #ff6700;
    border: 1px solid #e8e8e8;
    border-left: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    text-align: center;
    line-height: 42px;
    /*font-size: 36px;*/
    color: white;
}

#registerUser {
    width: 330px;
    height: 42px;
    background: #ff6700;
    border: none;
    margin-top: 29px;
    color: white;
}

#end_copy {
    position: absolute;
    margin-top: 488px;
    text-align: center;
    width: 854px;
    color: #666;
}

.xs {
    color: black;
    font-weight: bold;
}

#end {
    width: 1349px;
    margin: 0 auto;
}

#copy {
    padding-top: 20px;
    text-align: center;
    width: 1349px;
}

#copy a {
    font-size: 14px;
    color: #757575;
    margin: 10px;
}

#copy a:hover {
    color: black;
}

#copy2 {
    text-align: center;
    color: #757575;
    font-size: 14px;
    margin-top: 10px;
}

.y {
    color: #757575;
}

#copy2 a:visited {
    color: #757575;
}

.jin {
    color: #757575;
}

