<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>小米后台管理</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../css/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../css/assets/css/admin.css">
    <link rel="stylesheet" href="../css/paging.css">
    <style>
        button {
            background: #4f92cc;
            color: white;
            border: none;
            margin-left: 3px;
        }

        tr {
            height: 50px;
        }

        table tr:nth-child(odd) {
            background: #f1f1f1;
        }

        table tr:nth-child(even) {
            background: #f9f9f9;
        }

        table tr:hover {
            background: #d6d6d6;
        }
    </style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>MI</strong>
        <small>小米手机商城后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="/reception/MIIndex"><span class="am-icon-exchange"></span> 前台管理 </a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li onclick="safetyOFF()"><a href="javascript:void(0)"><span class="am-icon-power-off"></span>
                        退出</a></li>
                </ul>
            </li>
            <li onclick="toFullscreen()"><a href="javascript:;"><span class="am-icon-arrows-alt"></span> <span
                    class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/background/theBackground"><span class="am-icon-home"></span> 首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-user-md"></span>
                    管理员操作<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                    <li><a href="addUser" class="am-cf"><span class="am-icon-leaf"></span> 添加管理员</a></li>
                    <li><a href="/background/reset" class="am-cf"><span class="am-icon-adn"></span> 修改密码</a></li>
                    <li><a href="/background/goodsEntry" class="am-cf"><span class="am-icon-edit"></span> 商品录入</a></li>
                </ul>
            </li>

            <!--从这开始做-->
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-user"></span>
                    用户信息<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in">
                    <li><a href="/background/UsersManage"><span class="am-icon-empire"></span> 用户信息</a></li>
                </ul>
            </li>
            <li><a href="/background/comment"><span class="am-icon-comment"></span> 评论管理</a></li>
            <li><a href="/background/order"><span class="am-icon-wheelchair"></span> 订单管理</a></li>
            <li onclick="safetyOFF()"><a href="javascript:void(0)"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;动作可以慢，但战略一定要正确，看准了再跟上去！—— Driver_Chen</p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> wiki</p>
                <p>Welcome to the Driver_Chen</p>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">订单管理</strong> /
                <small>OrderManage</small>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-md-6 am-cf">
                <div class="am-fl am-cf">
                    <div class="am-btn-toolbar am-fl">
                        <div class="am-btn-group am-btn-group-xs">
                            <div class="am-form-group am-margin-left am-fl">
                                <span style="width: 50px;height: 30px;line-height: 30px">订单状态：</span><select style="height: 31px;">
                                    <option value="option1">选择状态</option>
                                    <option value="option2">未付款</option>
                                    <option value="option3">已付款</option>
                                    <option value="option4">未发货</option>
                                    <option value="option5">已发货</option>
                                    <option value="option6">待收货</option>
                                    <option value="option7">待评价</option>
                                    <option value="option7">已关闭</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-md-3 am-cf">
                <div class="am-fr">
                    <form class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" id="commentData">
                        <span class="am-input-group-btn">
                              <button class="am-btn am-btn-default" type="button" id="selAll">搜索</button>
                         </span>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table id="tbList" style="width: 100%;font-size: 14px">
                        <thead>
                        <tr style="background: white;">
                            <th class="table-check"><input type="checkbox" id="item" name="checkAll"/></th>
                            <th>订单编号</th>
                            <th>下单用户</th>
                            <th>商品名称</th>
                            <th>商品图片</th>
                            <th>下单时间</th>
                            <th>发货地址</th>
                            <th>用户联系方式</th>
                            <th>数量</th>
                            <th>订单总价</th>
                            <th>支付方式</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                    </table>
                    <!--分页-->
                    <div class="abpagger" style="width: 1000px;height: 60px;margin: auto;">
                        <div class="pagger-box pagger" id="box"></div>
                    </div>
                    <div class="am-cf">
                        共 <span id="dataSize"></span> 条记录
                    </div>
                    <hr/>
                    <p>注：.....</p>
                </form>
            </div>

        </div>
    </div>
    <!-- content end -->
</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2018 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="../js/js/jquery-3.3.1.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../js/js/polyfill/rem.min.js"></script>
<script src="../js/js/polyfill/respond.min.js"></script>
<script src="../js/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../js/js/jquery.min.js"></script>
<script src="../js/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="../js/js/app.js"></script>
<script src="../js/paging.js"></script>
<script type="text/javascript">
    /*开启全屏*/
    function toFullscreen() {
        var de = document.documentElement;
        if (de.requestFullscreen) {
            de.requestFullscreen();
        } else if (de.mozRequestFullScreen) {
            de.mozRequestFullScreen();
        } else if (de.webkitRequestFullScreen) {
            de.webkitRequestFullScreen();
        }
    }

    /*分页*/
    function showPage() {
        var pageSize = 10;
        var allData = $("#commentData").val();
        $('#box').paging({
            initPageNo: 1, // 初始页码
            totalPages: 10, //总页数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function (page) { // 回调函数
                $.ajax({
                    url: "/userOrder/orderLimit",
                    data: {
                        pageNo: page,
                        pageSize: pageSize,
                        orderTime: allData,
                        orderReAddress: allData,
                        orderPayment: allData,
                    },
                    dataType: "json",
                    success: function (data) {
                        $("#tbList tr:gt(0)").remove();
                        if (data.data.length == 0) {
                            $(".abpagger").css("marginTop", "320px");
                            $("#tbList").append("<div id='Info' style='position:absolute;width: 440px;height: 30px;margin-left: 400px;font-size: 40px;color: #ff6700;margin-top: 50px'>当前页还没有订单哦。</div>");
                        } else {
                            $("#Info").remove();
                            $(".abpagger").css("marginTop", "0");

                        }
                        $.each(data.data, function (i, obj) {
                            var tr = "<tr>";
                            tr += "<td><input type='checkbox' name='check' value='" + obj.orderId + "'></td>"
                            tr += "<td>" + obj.orderId + "</td>";
                            tr += "<td>" + obj.orderReName + "</td>";
                            tr += "<td style='color: red'>" + obj.orderName + "</td>";
                            tr += "<td>" + " <img src='../../files/" + obj.orderPhoto + "' width='50px'; height='50px';/>" + "</td>";
                            tr += "<td>" + obj.orderTime + "</td>";
                            tr += "<td>" + obj.orderReAddress + "</td>";
                            tr += "<td>" + obj.orderPhone + "</td>";
                            tr += "<td>" + obj.orderNumber + "</td>";
                            tr += "<td style='color: red'>" + (obj.orderNumber * obj.orderPrice) + "元" + "</td>";
                            tr += "<td id='orderStatu'>" + obj.orderPayment + "</td>";
                            tr += "<td><button type='button' id='changeText' class=\"am-btn am-btn-default am-btn-xs am-text-secondary\"><span class=\"am-icon-pencil-square-o\"></span> 待发货</button><!--&nbsp;<button type='button' onclick='delByIds()' class=\"am-btn am-btn-default am-btn-xs am-text-danger\"><span class=\"am-icon-trash-o\"></span> 删除</button>-->";
                            tr += "</tr>";
                            $("#tbList").append(tr);
                        })

                        $("#dataSize").html(data.data.length);
                    }
                })
            }
        })
    }

    showPage();

    /*模糊查询*/
    $("#selAll").click(function () {
       showPage();
    })

    /*列表/导航栏退出后台管理系统*/
    function safetyOFF() {
        if (confirm("您真的要退出后台管理系统吗？")) {
            $.ajax({
                url: "/background/safetyOFF",
                type: "GET",
                success: function () {
                    //去掉前进后退功能
                    location.replace("/background/theBackground");
                    // location.replace("/administrator/login");
                    return true;
                }
            })
        } else {
            return false;
        }
    }

    //全选反选
    $(":checkbox[name=checkAll]").click(function () {
        var checks = $(":checkbox[name=check]");
        for (var i = 0; i < checks.length; i++) {
            if (checks[i].checked == true) {
                checks[i].checked = false
            } else {
                checks[i].checked = true;
            }
        }
    });

    $("body").on("click","#changeText",function () {
        var orderStatu = $(this).parents().find("#orderStatu").text();
        if (orderStatu==="待支付"){
            if(confirm("当前用户还没有付款，您确定要进行发货吗？")){
                $(this).prop("disabled","disabled");
                $(this).css({"background":"#bbb","color":"white"});
                $(this).text("已发货");

            }else {
                $(this).prop("disabled",false);
                return false;
            }
        }else{
            if(confirm("当前用户还没有付款，您确定要进行发货吗？")){
                $(this).prop("disabled","disabled");
                $(this).css({"background":"#bbb","color":"white"});
                $(this).text("已发货");

            }else {
                $(this).prop("disabled",false);
                return false;
            }
        }
    })


    //批量删除 订单不应该删除，不合理
   /* var bl = true;
    var arr = [];

    function delByIds() {
        var checks = $(":checkbox[name=check]");
        for (var i = 0; i < checks.length; i++) {
            if (checks[i].checked == true) {
                arr.push(checks[i].value)
                bl = false
            }
        }
        $.ajax({
            url: "/userOrder/deleteByIds",
            type: "POST",
            data: JSON.stringify(arr),
            contentType: "application/json",
            success: function (data) {
                if (data.code == 1) {
                    showPage();
                } else {
                    showPage();
                }
            }
        })
    }*/
</script>
</body>
</html>

